* {
    margin: 0;
    padding: 0;

}

body {
    background-color: rgb(255, 249, 217) ;
    font-family: cursive;
}

.kiri{
    grid-area: sidebar;
    background: linear-gradient(to right, rgb(247, 162, 33), rgb(250, 203, 51),
     rgb(255, 239, 15)) ;
    justify-content: center;
  }

.content {
  grid-area: content;
  background-image: url(white-abstract-background_23-2148810113.jpg);
  background-size: cover;
}

.bawah {
  grid-area: footer;
  background: rgb(112, 112, 112);
}
.container {
  font-size: 1.5em;
  width: 100%;
  height: 100;
  height: 100vh;
  display: grid;
  grid-template-areas: "sidebar" "content" "footer";
  grid-template-areas:"sidebar content" "sidebar footer" ;
  grid-template-rows: 1fr auto ;
  grid-template-columns: 300px;
  grid-template-rows: 130px 750px 150px;
  background-image: url(white-abstract-background_23-2148810113.jpg);
  background-size: cover;

}

.content, .kiri, .bawah {
  padding: 1em;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

nav li img {
  width: 200px;
  display: inline-flex;
}

nav li{
  list-style: none;
  padding: 1em 0;
}

nav li a {
  color: rgb(61, 61, 61);
  font-weight: 700;
  opacity: 0.6;
  text-decoration: none;
  transition: 0.3s;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}
.btn {
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 1em;
  border-width: 3px;
  border-color: yellow;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 0em 3.5em;
}

.third {
  border-color: #e0ee17;
  box-shadow: 0 0 40px 40px #ebe39f inset, 0 0 0 0 #ebe39f;
  transition: all 700ms ease-in-out;
}

.third2 {
  border-color: #e0ee17;
  box-shadow: 0 0 40px 40px #ebe39f inset, 0 0 0 0 #ebe39f;
  transition: all 700ms ease-in-out;
}

.third3 {
  border-color: #e0ee17;
  box-shadow: 0 0 40px 40px #ebe39f inset, 0 0 0 0 #ebe39f;
  transition: all 700ms ease-in-out;
}

.third4 {
  border-color: #e0ee17;
  box-shadow: 0 0 40px 40px #ebe39f inset, 0 0 0 0 #ebe39f;
  transition: all 700ms ease-in-out;
}

.third:hover {
  box-shadow: 0 0 10px 0 #ebe39f inset, 0 0 10px 4px #ebe39f;
}


.teks {
  max-width: 90 px;
  margin: 0 auto;
  padding : 150px 30px;
  text-align: left;
}

.teks h1 {
  font-style: italic;
  font-size: 2em;
  font-weight: 300;
  color: #373046;
}

.teks p {
  font-weight: 300;
  line-height: 1.3em;
  color: #303030;
}

footer ul {
  max-width: 700px;
  margin: 2em auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

footer ul li {
  color: antiquewhite;
  list-style: none;
  align-self: flex-end;
}

footer ul li img {
  width: 30%;
}

footer h3 {
  font-size: 0.8em;
}
