*{
    margin: 0;
}

body {
    font-family: cursive;
}
.header {
    grid-area: header;
    text-shadow: 2px 1px rgb(255, 255, 255);
    background-color: #dad8d8;
    padding: 30px;
    text-align: center;
    background-image: url("background-keren-untuk-banner-10-background-check-all-preview.jpg");
    background-size: cover ;
}

.border {
    grid-area: border;
    box-sizing: border-box;  
    border-width: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to right, rgb(247, 162, 33), rgb(236, 208, 113),
     rgb(255, 239, 15));
}
/* style border atas */
.border a {
    max-width: 400px;
    margin:0;
    padding: 20px 150px;
    display: block;
    color: #f2f2f2;
    text-decoration: none;
}
/* warna */
.border a:hover {

    background-color: #ddd;
    display: block;
    color: black;
}


.ukuran  {
    grid-area: content;
    margin : 0;
    padding : 20px 200px;
    float: inline-start;
    background-image: url(white-abstract-background_23-2148810113.jpg);
    background-size: cover;
    max-width: 90 px;
    margin: 0 auto;
    text-align: unset;
    direction: unset;
}


.content img {
    display: grid;
    float: left;
    align-self: baseline;
    width: 30%;
    height: auto;
}

.content{
    grid-area: content;
    margin-top: 50px;
    margin-bottom: 50px;
}

.content .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #6d3333;
}

.content2 img {
    display: grid;
    float: left;
    align-self: baseline;
    margin-right: 10px;
    width: 30%;
    height: auto;
    border-radius: 50%;
    padding: 10px;
}

.content2 {
    grid-area: content;
    margin-top: 50px;
    margin-bottom: 50px;
}

.content2 .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #6b3836;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #6b3636;
    width: 100%;
    line-height: 50px;
}

  .bawah {
    grid-area: footer;
    display: grid;
    background: rgb(197, 194, 194);
    bottom: 0px;

  }
footer ul {
    max-width: 700px;
    margin: 0.8em auto;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    }
    
    footer ul li {
    color: antiquewhite;
    list-style: none;
    align-self: flex-end;
}
    
    footer ul li img {
    width: 30%;
}
    
    footer h3 {
    font-size: 0.8em;
}