*{
    margin: 0;
}

body {
    font-family: cursive;
}
.header {
    grid-area: header;
    text-shadow: 2px 1px rgb(255, 255, 255);
    background-color: #dad8d8;
    padding: 30px;
    text-align: center;
    background-image: url("background-keren-untuk-banner-10-background-check-all-preview.jpg");
    background-size: cover ;
}

.border {
    grid-area: border;
    box-sizing: border-box;  
    border-width: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to right, rgb(247, 162, 33), rgb(236, 208, 113),
     rgb(255, 239, 15));
}
/* Style border atas */
.border a {
    max-width: 400px;
    margin:0;
    padding: 20px 150px;
    display: block;
    color: #f2f2f2;
    text-decoration: none;
}
/* warna */
.border a:hover {

    background-color: #ddd;
    display: block;
    color: black;
}

.content {
    grid-area: content;
    display: grid;
    margin : 0;
    padding : 40px 500px;
    float: inline-start;
    background-image: url(white-abstract-background_23-2148810113.jpg);
    background-size: cover;
    max-width: 90 px;
    margin: 0 auto;
    text-align: unset;
    direction: unset;
}
  
.content h2 {
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    font-size: 2em;
    font-weight: 300;
    color: #373046;
}
  
.content p {
    font-weight: 300;
    line-height: 1.3em;
    color: #98aBad;
}

.ukuran .container {
    display: grid;
    width: 500px;
    height: 300px;
    margin: 10 auto;
    opacity: 0.9;
    border: #00868b;
    margin-top: -20px;
    box-sizing: 50px;
}

.artikel{
    background-color: rgb(250, 222, 112);
    padding:10px 15px;
    color: #4e4e4e;
    border-radius: 7px;
}

.grup{
    margin: 7px 0;
}

.grup label,
.grup input,
.grup button{
    display: block;
}
.grup label{
    display: inline-block;
    font-size: 15px;
    text-align: center;
    margin: 0 0.2em;
    margin-bottom: 7px;
}

.grup input[type="text"],
.grup input[type="tel"],
.grup input[type="email"]
.grup input[type="date"] {
    width: 300px;
    height: 30px;
    padding: 0 10px;
    background: #cccccc;
    border: #000000;
    font-size: 13px;
    color: #1a1a1a;
}

.grup input[type="textarea"]{
    width: 187px;
    height: 50px;
    background: #cccccc;
    border: #000000;
    font-size: 13px;
    color: #1a1a1a;
    float: right;
    margin-right: 60px;
    margin-bottom: 10px;
    text-align: center ;
}

.grup button[type="radio"]{
    margin: 80px;
    margin-right: 7px;
    float: left;
}

.grup button[type="submit"],
.grup button[type="reset"] hover{
    background: #8b8200;
    border: 2px solid #eeea00;
    float: left;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
}

.required{
    color:red;
    font-weight: normal;
}
   
legend {
       color: rgb(75, 75, 75);
       text-align: center;
       font-weight: bold;
}

.bawah {
    grid-area: footer;
    display: grid;
    background: rgb(197, 194, 194);
}

footer ul {
    max-width: 700px;
    margin: 0.8em auto;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    
footer ul li {
    color: antiquewhite;
    list-style: none;
    align-self: flex-end;
}
    
footer ul li img {
    width: 30%;
}
    
footer h3 {
    font-size: 0.8em;
}
