*{
    margin: 0;
}

body {
    font-family: cursive;
}
.header {
    grid-area: header;
    text-shadow: 2px 1px rgb(255, 255, 255);
    background-color: #dad8d8;
    padding: 30px;
    text-align: center;
    background-image: url("background-keren-untuk-banner-10-background-check-all-preview.jpg");
    background-size: cover ;
}

.border {
    grid-area: border;
    box-sizing: border-box;  
    border-width: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to right, rgb(247, 162, 33), rgb(236, 208, 113),
     rgb(255, 239, 15));
}
/* Style border atas */
.border a {
    max-width: 400px;
    margin:0;
    padding: 20px 150px;
    display: block;
    color: #f2f2f2;
    text-decoration: none;
}
/* warna */
.border a:hover {

    background-color: #ddd;
    display: block;
    color: black;
}

.content {
    grid-area: content;
    margin : 0;
    padding : 50px 200px;
    float: inline-start;
    background-image: url(white-abstract-background_23-2148810113.jpg);
    background-size: cover;
    max-width: 90 px;
    margin: 0 auto;
    text-align: unset;
    direction: unset;
}
  
.content h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    font-weight: 300;
    color: #373046;
}
  
.content p {
    font-weight: 300;
    line-height: 1.3em;
    color: #98aBad;
}

.bawah {
    grid-area: footer;
    display: grid;
    background: rgb(197, 194, 194);
}

footer ul {
    max-width: 700px;
    margin: 0.8em auto;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
    
footer ul li {
    color: antiquewhite;
    list-style: none;
    align-self: flex-end;
}
    
footer ul li img {
    width: 30%;
}
    
footer h3 {
    font-size: 0.8em;
}
